@import "tailwindcss";

/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #2563eb;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
} */

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}

/* Specific AOS tweaks if needed */
[data-aos] {
  pointer-events: none;
}

.aos-animate {
  pointer-events: auto;
}